<div class="side-bar-sliders">
	<div class="slide-wraper side-bar-wrapper" style="height:100%">
		<div id="slider-wrap">
			<div class="indslider">
				<div class="it slider_active">
					<img
							src="/images/sliders/{{ $bar_slider->getPath() }}"
							alt="slide"
							data-onclick="{{asset_locale_path($bar_slider->getUrl()) }}">
				</div>
				<div class="it">
					<img
							src="/images/sliders/{{ $bar_slider->getPath() }}"
							alt="slide"
							data-onclick="{{asset_locale_path($bar_slider->getUrl()) }}">
				</div>
			</div>
		</div>
	</div>
</div>

$('#slider-wrap').slidzer({
	slide_animation: params[i]['slide_animation'],
	slide_speed: params[i]['slide_speed'],
	block_width: params[i]['block_width'],
	block_height: params[i]['block_height'],
	slide_buttons_panel: params[i]['slide_buttons_panel'],
	slide_urls_allow: params[i]['slide_urls_allow']
});