/**/
#slider-wrap {
  position: relative;
  z-index: 1;
}

.indslider {
  width:100%;
  height:100%;
  position:relative;
  overflow:hidden;
  right: 0px;
}

.indslider .slider_active,
.indslider .slider_active{
  z-index:15;
}

.indslider .it,
.indslider .it{
  width:100%;
  height: 100%;
  margin:auto;
  //position:absolute;
}
.indslider .it img,
.it img{
  width:100%;
  height: 100%;
  //position:absolute;
}
.indslider .itfill,
.indslider .itfill{width:100%;height:100%}
#slider-wrap .slider_chooser_wrap,
#slider-wrap .slider_chooser_wrap{
  width:100%;
  margin:auto;
  position:absolute;
  z-index:15;
  text-align:center;
  top: 92%;
}
#slider-wrap .slider_chooser_unactive,
#slider-wrap .slider_chooser_unactive{
  width:10px;
  height:10px;
  border-radius:100%;
  background-color:transparent;
  border:solid 2px white;
  cursor:pointer;
  margin:2px;
  display:inline-block
}
#slider-wrap .slider_chooser_active,
#slider-wrap .slider_chooser_active{
  width:10px;
  height:10px;
  border-radius:100%;
  background-color:white;
  border:solid 2px white;
  cursor:pointer;
  margin:2px;
  display:inline-block
}

#slider_blockWidth {
  width: 244px;
}